{% load static %}

<body>
    <!-- CSS only -->
    
    <link rel="stylesheet" href="{% static 'home3.css' %}">
    
  
  <link href="https://fonts.googleapis.com/css?family=Black Ops One" rel="stylesheet">
    <header>
           <img style="height:70px; width:200px;" src="https://res.cloudinary.com/koushika/image/upload/v1669791792/sreenidhi-logo_kyzkky.png" />
      
          <input type="checkbox" class="nav-toggle" id="nav-toggle">
          <nav>
              <ul>
                <li><a  class ="nav-link" href="{% url 'student_app:home' %}" style="font-family:Black Ops One;">>home</home></a></li>
                <li><a  class ="nav-link" href="{% url 'student_app:login' %}" style="font-family:Black Ops One;">>Login</home></a></li>
                <li><a class ="nav-link" href="{% url 'student_app:details' %}" style="font-family:Black Ops One;">>Get Student Details</a></li>
                <li><a class ="nav-link" href="{% url 'student_app:faculty' %}" style="font-family:Black Ops One;">>Faculty details</a></li>
                <li><a class ="nav-link" href="{% url 'student_app:address' %}" style="font-family:Black Ops One;">>Navigation</a></li>
              </ul>
          </nav>
          <label for="nav-toggle" class="nav-toggle-label">
              <span></span>
          </label>
      </header>
    
    <section class="section-one">
      <h2 class="header">Hi👋Welcome to SNIST</h2>
  
       <button class="bu section-one-paragraph">The Sreenidhi Institute of Science and Technology (or SNIST) is a private college located in Hyderabad, Telangana, India. The college is affiliated to the Jawaharlal Nehru Technological University, Hyderabad (JNTUH). In the year 2010-11, the institution attained autonomous status and it is the first college under JNTUH to get that status.</button>
   
    </section>
    
    <!-- Section Two -->
    <section class="section=two">
      <img src="https://res.cloudinary.com/koushika/image/upload/v1669792615/1669791702340_rrozli.jpg">
    </section>
    
    <!-- Section Three -->
    <section class="section-three">
      <h3>We enrich human lives through the thoughtful application of design and technology</h3>
    </section>
    
    <!-- Section Four -->
    <section class="section-four">
      <div class="flex-group">
        <div>
          <img style="width:50vw;" src=https://res.cloudinary.com/koushika/image/upload/v1669790107/IMG20221021183056_kjfbci.jpg>
        </div>
        <div class="content-container">
          <p>.</p>
          
          <button style="width:400px; height:400px;font-size:20px;text-align:left;"class="bu"><div>
            <p style="text-align:center;font-style:bold;">Events In Sreevision:</p>
            <ul>
              <li>Sports and Games</li>
              <li>Paper Presentations</li>
              <li>Poster Presentations</li>
              <li>Projects and Quizzes</li>
              <li>Robotics</li>
              <li>Lan Gaming</li>
              <li>Photography Events</li>
              <li>Celebrity Consert</li>
              <li>Dance and Singing Competitions</li>
              <li>Spot Events</li>
              <li>Dance and Singing Competitions</li>
            </ul>
            </div>
          </button>
        </div>
      </div>
    </section>
    
    <!-- Section Five -->
    <section class="section-five">
      <div class="flex-group section-five-flex-group">
        <div>
          <img style="height:500px;" src="https://res.cloudinary.com/koushika/image/upload/v1669795829/1669790426831_skwuda.jpg">
        </div>
        <div class="content-container">
           <button style="width:400px; height:400px;font-size:20px;text-align:left;"class="bu"><div>
          <p>->Wed,Nov 30📅</p>
          <p>->Start-09:30 AM🕐 </p>
          <p>->Venue:FSD LAB🖥️</p>
          <p>->This event is hosted by WEBLAUNCH INDIA,provided the participants shall produce a real time website within a 6 hr mark.</p>
             </div>
        
        </div>
      </div>
    </section>
    
    <!-- Section six -->
    <section class="section-six">
      <div class="flex-group">
        <div>
          <img  style="height:500px;width:350px;margin:20px;" src=https://res.cloudinary.com/koushika/image/upload/v1669797024/IMG-20221129-WA0001_lgmhme.jpg>
        </div>
        <div class="content-container">
            <button style="width:400px; height:400px;font-size:20px;text-align:left;"class="bu"><div>
            <p style="text-align:center;font-style:bold;">Events In Sreevision:</p>
           <p>->Wed,Nov 30📅</p>
          <p>->Start-15:30 AM🕐 </p>
          <p>->Venue:SEMINAR hall-2🖥</p>
          <p>->Short Film Contest</p>
            </div>
          </button>
        
        </div>
      </div>
    </section>  
    
  <!-- Section Seven -->  
  
   
    
  <!-- Section Eight -->
    <section class="section-eight">
      <div class="flex-group-eight">
        <div>
         
          <h4>->New Mail:-</h4>
        <p>Director SNIST, </p>
        <p>Cultnite on 1st December: No admission for I year students</p>
        <p>Dear students,</p>
        <p>1st year students are NOT permitted to attend the night program on 1st December.

In order to ensure this, the ID cards will be checked at the entry gate. So, all the other students should carry their ID cards to avoid any inconvenience at the gate. There will be NO admission without a valid ID card.

          Please do cooperate with the security personnel.</p>
        <p>--tomy</p>
        </div>
      </section>
        
     
    
    
  
  
  