<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </head>
<head>{% load static %}
	<link rel="stylesheet" href="{% static 'login2.css' %}">
</head>

<body>
    <header>
        <img style="height:70px; width:200px;" src="https://res.cloudinary.com/koushika/image/upload/v1669791792/sreenidhi-logo_kyzkky.png" />

        <input type="checkbox" class="nav-toggle" id="nav-toggle">
        <nav>
            <ul>
                <li><a  class ="nav-link" href="{% url 'student_app:home' %}" style="font-family:Black Ops One;">>home</home></a></li>
                <li><a  class ="nav-link" href="{% url 'student_app:login' %}" style="font-family:Black Ops One;">>Login</home></a></li>
                <li><a class ="nav-link" href="{% url 'student_app:details' %}" style="font-family:Black Ops One;">>Get Student Details</a></li>
                <li><a class ="nav-link" href="{% url 'student_app:faculty' %}" style="font-family:Black Ops One;">>Faculty details</a></li>
                <li><a class ="nav-link" href="{% url 'student_app:address' %}" style="font-family:Black Ops One;">>Navigation</a></li>
            </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>
    </header>
    <form autocomplete='off' class='form' method='POST' >
		{% csrf_token %}
		

        <div class='control'>
            <h1>
                Sign In
            </h1>
        </div>
        <div class='control block-cube block-input'>
            <input name='username' placeholder='Username' type='text'>
            <div class='bg-top'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg-right'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg'>
                <div class='bg-inner'></div>
            </div>
        </div>
        <div class='control block-cube block-input'>
            <input name='password' placeholder='Password' type='password'>
            <div class='bg-top'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg-right'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg'>
                <div class='bg-inner'></div>
            </div>
        </div>
        <button class='btn block-cube block-cube-hover' type='button'>
            <div class='bg-top'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg-right'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg'>
                <div class='bg-inner'></div>
            </div>
            <div class='text'>
                <input type="submit" value='Login' class="btn btn-secondary">
            </div>
        </button>

    </form>

</body>

</html>
