{% load static %}
<header>
  <img style="height:70px; width:200px;" src="https://res.cloudinary.com/koushika/image/upload/v1669791792/sreenidhi-logo_kyzkky.png" />

  <input type="checkbox" class="nav-toggle" id="nav-toggle">
  <nav>
      <ul>
          <li><a  class ="nav-link" href="{% url 'student_app:home' %}" style="font-family:Black Ops One;">>home</home></a></li>
          <li><a  class ="nav-link" href="{% url 'student_app:login' %}" style="font-family:Black Ops One;">>Login</home></a></li>
          <li><a class ="nav-link" href="{% url 'student_app:details' %}" style="font-family:Black Ops One;">>Get Student Details</a></li>
          <li><a class ="nav-link" href="{% url 'student_app:faculty' %}" style="font-family:Black Ops One;">>Faculty details</a></li>
          <li><a class ="nav-link" href="{% url 'student_app:address' %}" style="font-family:Black Ops One;">>Navigation</a></li>
      </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
  </label>
</header>
<div style="background-size:cover ; background-color: black; background-size: 100%;"> 
<link rel="stylesheet" href="{% static 'thankyou2.css' %}">
<div class="heart">
  
    ❤
  </div>
  <div class="text">
    <p>
      T
    </p>
    <p>
      H
    </p>
    <p>
      A
    </p>
    <p>
      N
    </p>
    <p>
      K
    </p>
    <p>
      &nbsp;
    </p>
    <p>
      Y
    </p>
    <p>
      0
    </p>
    <p>
      U
    </p>
  </div>
</div>